<div class="top-bar">
    <a class="logo" href="">
        <img src="@ImagePath/logo.svg" />
    </a>

    <NavLink class="nav-tab" href="" Match="NavLinkMatch.All">
        <img src="@ImagePath/pizza-slice.svg" />
        @Messages.ChoosePizzaLinkText
    </NavLink>

    <NavLink class="nav-tab" href="orders">
        <img src="@ImagePath/bike.svg" />
        @Messages.MyOrdersText
    </NavLink>

</div>