@page "/checkout"

<div class="main">
    <div class="checkout-cols">
        <div>
            <h4>@Messages.ReviewOrderText</h4>
            <OrderReview></OrderReview>
        </div>
    </div>
    <button class="checkout-button btn btn-warning"
            @onclick=PlacerOrder
            disabled="@ViewModel.IsSubmitting">
        @Messages.PlaceOrderButtonText
    </button>
</div>